/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: #EB6864;
}

.v-middle {
    vertical-align: middle;
}

.msg-sucesso {
    background: #22B24C
}

.msg-error{
    background: #EB6864;
}